@font-face {
    font-family: Library-3AM;
    src: url(library-font/Library\ 3\ am.otf);
}

@font-face {
    font-family: Thorn-Valley;
    src: url(thornvalley-font/Thorn\ Valley.ttf);
}

@font-face {
    font-family: PT-Italic;
    src: url(ptitalic-font/PTF56F.ttf);
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

a.hidden {
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.countdown.hidden {
    opacity: 0;
    transition: opacity 1.6s ease-in-out;
}

.main {
    background: url('background.png');
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.layer,
.content-wrap {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.content-body-left {
    position: absolute;
    width: 25%;
    top: 10%;
    left: 2%;
    text-align: left;
}

.content-body-left h1 {
    font-family: Library-3AM;
    font-size: 28px;
}

.top {
    background: rgba(204, 204, 204, .6);
    z-index: 2;
    width: 50vw;
    transition: width 1.2s ease-in-out;
}

.skewed .top {
    transform: skew(-37deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
    transform: skew(37deg);
    margin-left: 1000px;
}

.top .content-body-right {
    position: absolute;
    width: 25%;
    top: 10%;
    right: 2%;
    text-align: left;
}

.top h1 {
    color: #2b0536;
}

.top a {
    background: rgb(66, 48, 11, .8);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(66, 48, 11, .8) 100%, rgba(0, 212, 255, 1) 100%);
    display: block;
    width: 80%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: #ccc;
    text-transform: uppercase;
    transition: opacity 1.2s ease-in-out;
}

.top article {
    margin-bottom: 10px;
}

.top q {
    font-family: Thorn-Valley;
    font-size: 26px;
    color: #263238;
}

.top p {
    font-family: PT-Italic;
    font-size: 18px;
    color: #42300b;
}

.bottom {
    background: rgba(0, 0, 0, .6);
    z-index: 1;
}

.bottom .content-body-right {
    position: absolute;
    width: 25%;
    bottom: 10%;
    right: 2%;
    text-align: right;
}

.bottom h1 {
    color: #fdab00;
}

.bottom a {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(253, 171, 0, .8) 100%, rgba(0, 212, 255, 1) 100%);
    display: block;
    width: 80%;
    margin-left: auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: #ccc;
    text-transform: uppercase;
    transition: opacity 1.2s ease-in-out;
}

.countdown {
    opacity: 1;
    transition: opacity .6s ease-in-out;
}

.countdown span {
    text-decoration: underline;
    color: #b71c1c;
}

img {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 80%;
    transform: translateX(-50%);
    transition: transform 1.6s ease-in-out;
}

img.large {
    transform: translateX(-50%) scale(1.12);
    z-index: 100;
}

.handle {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    height: 100%;
    width: 2px;
    transform: translateX(-2.5px);
    z-index: 5;
    background: #fdab00;
}

.skewed .handle {
    top: 50%;
    transform: rotate(37deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
    transition: left 1.2s ease-in-out;
}

.fa-arrow-circle-right {
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 5;
    cursor: pointer;
    transition: all 1.4s ease-in-out;
}

.fa-arrow-circle-right:before {
    color: #ccc;
}

.fa-arrow-circle-left {
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 5;
    cursor: pointer;
    transition: all 1.4s ease-in-out;
}

.fa-arrow-circle-right:hover,
.fa-arrow-circle-left:hover {
    animation: shake .8s cubic-bezier(.36, .7, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 50px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}