/* GENERAL STYLES */

@font-face {
    font-family: Library-3AM;
    src: url(library-font/Library\ 3\ am.otf);
}

@font-face {
    font-family: Thorn-Valley;
    src: url(thornvalley-font/Thorn\ Valley.ttf);
}

@font-face {
    font-family: PT-Italic;
    src: url(ptitalic-font/PTF56F.ttf);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

a.hidden {
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

/* LANDING PAGE */

.main {
    background: url('background.png');
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.layer,
.content-wrap {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.content-body-left {
    position: absolute;
    width: 25%;
    top: 10%;
    left: 2%;
    text-align: left;
}

.content-body-left h1 {
    font-family: Library-3AM;
    font-size: 28px;
}

.top {
    background: rgba(204, 204, 204, .6);
    z-index: 2;
    width: 50vw;
    transition: width 1.2s ease-in-out;
}

.skewed .top {
    transform: skew(-37deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
    transform: skew(37deg);
    margin-left: 1000px;
}

.top .content-body-right {
    position: absolute;
    width: 25%;
    top: 10%;
    right: 2%;
    text-align: left;
}

.top h1 {
    color: #2b0536;
}

.top a {
    background: rgb(66, 48, 11, .8);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(66, 48, 11, .8) 100%, rgba(0, 212, 255, 1) 100%);
    display: block;
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: Library-3AM;
    font-weight: bold;
    color: #ccc;
    text-transform: uppercase;
    transition: opacity 1.2s ease-in-out;
}

.top article {
    margin-bottom: 10px;
}

.top q {
    font-family: Thorn-Valley;
    font-size: 26px;
    color: #263238;
}

.top p {
    font-family: PT-Italic;
    font-size: 18px;
    color: #42300b;
}

.bottom {
    background: rgba(0, 0, 0, .6);
    z-index: 1;
}

.bottom .content-body-right {
    position: absolute;
    width: 25%;
    bottom: 10%;
    right: 2%;
    text-align: right;
}

.bottom h1 {
    color: #fdab00;
}

.bottom a {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(253, 171, 0, .8) 100%, rgba(0, 212, 255, 1) 100%);
    display: block;
    width: 80%;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: Library-3AM;
    font-weight: bold;
    color: #ccc;
    text-transform: uppercase;
    transition: opacity 1.2s ease-in-out;
}

.top-image,
.bottom-image {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 80%;
    transform: translateX(-50%);
    transition: transform 1.6s ease-in-out;
}

img.large {
    transform: translateX(-50%) scale(1.12);
    z-index: 100;
}

.handle {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    height: 100%;
    width: 2px;
    transform: translateX(-2.5px);
    z-index: 5;
    background: #fdab00;
}

.skewed .handle {
    top: 50%;
    transform: rotate(37deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
    transition: left 1.2s ease-in-out;
}

.fa-arrow-circle-right {
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 5;
    cursor: pointer;
    transition: all 1.4s ease-in-out;
}

.fa-arrow-circle-right:before {
    color: #ccc;
}

.fa-arrow-circle-left {
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 5;
    cursor: pointer;
    transition: all 1.4s ease-in-out;
}

.fa-arrow-circle-right:hover,
.fa-arrow-circle-left:hover {
    animation: shake .8s cubic-bezier(.36, .7, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 50px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}

/* HEADER SECTION */

header {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100vw;
    font-family: Library-3AM;
}

.navigation {
    text-align: right;
    padding-right: 20px;
}

.navigation ul {
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin: 0 5px;
}

.navigation a {
    padding-right: 10px;
    border-right: 1px solid #888;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #888;
}

.navigation li:last-child a {
    border-right: none;
}

.navigation a.active,
.navigation a:hover {
    color: #ddd;
}

/* GALLERY PAGE */

.gallery {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 40px;
    left: 0;
    height: calc(100vh - 40px);
    width: 100vw;
}

.image-wrapper {
    position: relative;
    height: 80vh;
    width: 60vw;
    margin: 10vh auto;
    overflow: hidden;
}

.image-wrapper .fa-arrow-circle-right {
    right: 20px
}

.image-wrapper .fa-arrow-circle-left {
    left: 20px
}

.image-wrapper .fa-arrow-circle-left:before {
    color: #ccc;
}

.gallery-item-container {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    width: 80%;
    text-align: center;
    transition: all 1.2s ease-in-out;
    opacity: 0;
}

.gallery-item-container.previous-item {
    left: -100%;
}

.gallery-item-container.visible-item {
    left: 10%;
    opacity: 1;
}

.gallery-item-container.next-item {
    left: 120%;
}

.gallery-item {
    height: 100%;
}

/* CONTACT PAGE */

.contact {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 40px;
    left: 0;
    height: calc(100vh - 40px);
    width: 100vw;
}

.contact-form {
    background: rgba(0, 0, 0, .2);
    width: 50%;
    margin: 60px auto;
    padding: 10px;
    border: 1px solid rgba(204, 204, 204, .6);
    border-radius: 5px;
    box-shadow: 8px 8px 0 rgba(80, 80, 80, .4);
}

.contact-form form {
    width: 92%;
    margin: 10px auto;
    text-align: center;
    font-family: PT-Italic;
}

.form-control {
    position: relative;
    margin-bottom: 10px;
    padding-top: 25px;
}

.form-control label {
    position: absolute;
    top: 25px;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
    color: #ccc;
    transition: all .6s ease-in-out;
    cursor: text;
}

.form-control span {
    color: #fdab00;
}

.form-control input {
    background: inherit;
    height: 24px;
    width: 100%;
    line-height: 1.6;
    border: none;
    border-bottom: 1px solid #fdab00;
    caret-color: #ccc;
    font-family: PT-Italic;
    color: #ccc;
    transition: border-bottom .8s ease-in;
}

.form-control textarea {
    background: inherit;
    height: auto;
    width: 100%;
    line-height: 1.6;
    border: none;
    border-bottom: 1px solid #fdab00;
    caret-color: #ccc;
    font-family: PT-Italic;
    color: #ccc;
    overflow-y: hidden;
    overflow-x: hidden;
    resize: none;
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
}

.form-control input:valid {
    border-bottom: 1px solid #64dd17;
}

.form-control input:focus + label,
.form-control input:valid + label,
.form-control textarea:focus + label {
    top: 0;
    font-size: 12px;
    cursor: default;
}

.contact-form button {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(253, 171, 0, .8) 100%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    font-family: Library-3AM;
    font-weight: bold;
    color: #ccc;
    text-transform: uppercase;
    cursor: pointer;
    border-right-color: rgb(118, 118, 118);
    border-bottom-color: rgb(118, 118, 118);
}
