/* GENERAL STYLES */

@font-face {
    font-family: Library-3AM;
    src: url(../library-font/Library\ 3\ am.otf);
}

@font-face {
    font-family: Thorn-Valley;
    src: url(../thornvalley-font/Thorn\ Valley.ttf);
}

@font-face {
    font-family: PT-Italic;
    src: url(../ptitalic-font/PTF56F.ttf);
}

@font-face {
    font-family: Marck-Script;
    src: url(../marck-script/MarckScript-Regular.ttf)
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

i.hidden {
    opacity: 0;
    cursor: zoom-out;
}

a.hidden {
    opacity: 0;
    transition: opacity .8s ease-in-out;
}

/* LANDING PAGE */

.main {
    background: url('../assets/background.png');
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.layer,
.content-wrap {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.content-body-left {
    position: absolute;
    width: 25%;
    top: 10%;
    left: 2%;
    text-align: left;
}

.content-body-left h1 {
    font-family: Library-3AM;
    font-size: 28px;
}

.top {
    background: rgba(204, 204, 204, .6);
    z-index: 2;
    width: 50vw;
    transition: width .8s ease-in-out;
}

.skewed .top {
    transform: skew(-37deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
    transform: skew(37deg);
    margin-left: 1000px;
}

.top .content-body-right {
    position: absolute;
    width: 25%;
    top: 10%;
    right: 2%;
    text-align: left;
}

.top h1 {
    color: #2b0536;
}

.top a {
    background: rgb(66, 48, 11, .8);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(66, 48, 11, .8) 100%, rgba(0, 212, 255, 1) 100%);
    display: block;
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: Library-3AM;
    font-weight: bold;
    color: #ccc;
    text-transform: uppercase;
    transition: opacity 1.2s ease-in-out;
}

.top article {
    margin-bottom: 10px;
}

.top q {
    font-family: Marck-Script;
    font-size: 20px;
    color: #fff;
}

.top p {
    font-family: Thorn-Valley;
    font-size: 22px;
    color: #42300b;
}

.bottom {
    background: rgba(0, 0, 0, .6);
    z-index: 1;
}

.bottom .content-body-right {
    position: absolute;
    width: 25%;
    bottom: 10%;
    right: 2%;
    text-align: right;
}

.bottom h1 {
    color: #fdab00;
}

.bottom a {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(253, 171, 0, .8) 100%, rgba(0, 212, 255, 1) 100%);
    display: block;
    width: 80%;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: Library-3AM;
    font-weight: bold;
    color: #ccc;
    text-transform: uppercase;
    transition: opacity 1.2s ease-in-out;
}

.bottom-article {
    margin-top: 20px;
    opacity: 1;
    transition: opacity .8s ease-in-out;
}

.bottom-article:nth-child(2) {
    margin-top: 80px;
}

.bottom-article.hidden {
    opacity: 0;
}

.bottom-article q {
    font-family: Marck-Script;
    font-size: 20px;
    color: #fff;
}

.bottom-article p {
    font-family: Thorn-Valley;
    font-size: 22px;
    color: #fdab00;
}

.top-image,
.bottom-image {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 80%;
    transform: translateX(-50%);
    transition: transform 1.6s ease-in-out;
}

img.large {
    transform: translateX(-50%) scale(1.12);
    z-index: 100;
}

.handle {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    height: 100%;
    width: 2px;
    transform: translateX(-2.5px);
    z-index: 5;
    background: #fdab00;
}

.skewed .handle {
    top: 50%;
    transform: rotate(37deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
    transition: left .8s ease-in-out;
}

.fa-arrow-circle-right {
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 5;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.fa-arrow-circle-right:before {
    color: #ccc;
}

.fa-arrow-circle-left {
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 5;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.fa-arrow-circle-right:hover,
.fa-arrow-circle-left:hover {
    animation: shake .8s cubic-bezier(.36, .7, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 50px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}

@media only screen and (max-width: 1260px) {
    .top-image,
    .bottom-image {
        top: 20%;
        height:60%;
    }
}

@media only screen and (max-width: 780px) {
    .top-image,
    .bottom-image {
        top: 25%;
        height: 50%;
    }

    .top-article,
    .bottom-article {
        display: none;
    }

    .top a, .bottom a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 640px) {
    .skewed .fa, .skewed .fa {
        display: none;
    }

    .top .content-body-left a,
    .bottom .content-body-right a {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .contet-body-right,
    .top a, .bottom a {
        display: none;
    }

    .top-image,
    .bottom-image {
        top: 0;
        height: 100%;
    }

    .skewed .handle {
        transform: rotate(29.5deg) translateY(-50%);
    }

    .skewed .top {
        transform: skew(-29.5deg);
    }
    
    .skewed .top .content-wrap {
        transform: skew(29.5deg);
    }

    .content-body-left {
        width: 100%;
        top: 2%;
        left: 0;
        z-index: 1;
        pointer-events: none;
    }

    .content-body-left h1 {
        margin-block-start: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 824px) and (max-height: 416px) {
    .content-body-left,
    .bottom .content-body-right {
        width: 35%;
    }

    .content-body-left h1 {
        margin-block-start: 0;
        font-size: 20px;
    }

    .top a, .bottom a {
        width: 92%;
    }

    .top-image,
    .bottom-image {
        top: 20%;
        height: 60%;
    }
}

/* HEADER SECTION */

header {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100vw;
    font-family: Library-3AM;
    z-index: 2;
}

header.resized .navigation {
    opacity: 0;
}

.navigation {
    text-align: right;
    padding-right: 20px;
    transition: opacity .8s ease-in-out;
}

.navigation ul {
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin: 0 5px;
}

.navigation a {
    padding-right: 10px;
    border-right: 1px solid #888;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #888;
}

.navigation li:last-child a {
    border-right: none;
}

.navigation a.active,
.navigation a:hover {
    color: #ddd;
}

.navigation .fa {
    display: none;
}

.navigation .fa-facebook-f {
    display: inline;
    color: #4267b2;
}

@media only screen and (max-width: 600px) {
    .navigation {
        padding-right: 0;
        text-align: center;
    }

    .navigation ul {
        padding-inline-start: 0;
    }

    .navigation li {
        margin: 0;
    }

    .navigation a {
        padding-right: 20px;
        padding-left: 20px;
    }

    .navigation a span {
        display: none;
    }

    .navigation .fa {
        display: inline;
    }
}

@media only screen and (max-width: 360px) {
    .navigation a {
        padding-right: 18px;
        padding-left: 18px;
    }
}

@media only screen and (max-width: 320px) {
    .navigation a {
        padding-right: 12px;
        padding-left: 12px;
    }
}

@media only screen and (max-width: 732px) and (max-height: 412px) {
    .navigation {
        padding-right: 0;
        text-align: center;
    }

    .navigation ul {
        padding-inline-start: 0;
    }
}

/* GALLERY PAGE */

.gallery {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 40px;
    left: 0;
    height: calc(100vh - 40px);
    width: 100vw;
}

.image-wrapper {
    position: relative;
    height: 80vh;
    width: 60vw;
    margin: 10vh auto;
    overflow: hidden;
}

.image-wrapper.resized {
    overflow: visible;
    cursor: zoom-out;
    z-index: 4;
}

.image-wrapper .fa-arrow-circle-right {
    right: 20px
}

.image-wrapper .fa-arrow-circle-left {
    left: 20px
}

.image-wrapper .fa-arrow-circle-left:before {
    color: #ccc;
}

.gallery-item-container {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    width: 80%;
    text-align: center;
    transition: all .8s ease-in-out;
    opacity: 0;
}

.gallery-item-container.previous-item {
    left: -100%;
}

.gallery-item-container.visible-item {
    left: 10%;
    opacity: 1;
}

.gallery-item-container.next-item {
    left: 120%;
}

.gallery-item-container.resized {
    width: 100%;
    left: 0;
    overflow: visible;
}

.gallery-item {
    margin-top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.visible-item .gallery-item {
    cursor: zoom-in;
}

.gallery-item.resized {
    margin-top: -40px;
    transform: scale(1.24);
    cursor: zoom-out;    
}

.image-overlay.resized {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #222;
    cursor: zoom-out;
    z-index: 2;
    transition: all 1.2s ease-in-out;
}

.image-text-container {
    opacity: 1;
    transition: all .8s ease-in-out;
}

.image-text-container:nth-child(even) {
    position: absolute;
    bottom: 10vh;
    left: 10px;
    width: 30vw;
}

.image-text-container:nth-child(odd) {
    position: absolute;
    top: calc(10vh + 40px);
    right: 10px;
    width: 30vw;
}

.image-text-container.hidden {
    opacity: 0;
}

.image-text-container .image-text {
    font-family: Marck-Script;
    font-size: 20px;
    color: #ccc;
}

@media only screen and (max-width: 1260px) {
    .image-text-container:nth-child(even),
    .image-text-container:nth-child(odd) {
        width: 25vw;
    }
}

@media only screen and (max-width: 780px) {
    .image-text-container {
        display: none;
    }

    .image-wrapper {
        width: 80vw;
    }

    .gallery-item-container {
        width: 92%;
        margin: 0 4%;
    }

    .gallery-item-container.visible-item {
        left: 0;
    }

    .gallery-item {
        width: 100%;
        object-fit: contain;
    }

    .image-wrapper .fa {
        display: none;
    }

    .gallery-item.resized {
        transform: scale(1.36);
    }
}

@media only screen and (max-width: 600px) {
    .image-wrapper {
        width: 100vw;
    }
}


@media only screen and (max-width: 824px) and (max-height: 412px) {
    .image-wrapper {
        margin-top: 8vh;
    }
    .image-wrapper .fa {
        display: none;
    }

    
.image-text-container .image-text {
    font-size: 17.2px;
    }
}

/* AUTHOR & BOOK PAGE */

.text-container {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 40px;
    left: 0;
    height: calc(100vh - 40px);
    width: 100vw;
}

.text-wrapper {
    background: rgba(0, 0, 0, .2);
    max-height: 80vh;
    width: 50%;
    margin: 60px auto;
    padding: 10px;
    border: 1px solid rgba(204, 204, 204, .6);
    border-radius: 5px;
    box-shadow: 8px 8px 0 rgba(80, 80, 80, .4);
    overflow: auto;
}

.text-wrapper h1 {
    font-family: Library-3AM;
    font-size: 24px;
    text-align: center;
    color: #fdab00;
}

.text-wrapper p {
    font-family: PT-Italic;
    font-size: 17.2px;
    color: #ddd;
}

.text-wrapper .footnote-anchor {
    color: #ddd;
}

.text-wrapper span {
    color: #fdab00;
}

.text-wrapper .footnote {
    padding-top: 10px;
    border-top: 1px dotted #ccc;
}

@media only screen and (max-width: 824px) and (max-height: 412px) {
    .text-wrapper {
        width: 84%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 640px) {
    .text-wrapper {
        width: 84%;
    }
}

/* CONTACT PAGE */

.contact {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 40px;
    left: 0;
    height: calc(100vh - 40px);
    width: 100vw;
}

.contact-form {
    background: rgba(0, 0, 0, .2);
    max-height: 80vh;
    width: 50%;
    margin: 60px auto;
    padding: 10px 0 20px 0;
    border: 1px solid rgba(204, 204, 204, .6);
    border-radius: 5px;
    box-shadow: 8px 8px 0 rgba(80, 80, 80, .4);
    overflow: auto;
}

.contact-form form {
    width: 92%;
    margin: 10px auto 20px;
    font-family: PT-Italic;
    text-align: center;
}

.form-control {
    position: relative;
    margin-bottom: 10px;
    padding-top: 25px;
}

.form-control label {
    position: absolute;
    top: 25px;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
    color: #ccc;
    transition: all .6s ease-in-out;
    cursor: text;
}

.form-control .tooltip {
    position: relative;
    color: #fdab00;
    cursor: help;
}

.form-control .tooltiptext {
    position: absolute;
    background: rgba(60, 60, 60, .8);
    display: none;
    top: -32px;
    left: -62px;
    width: 132px;
    padding: 4px 8px;
    text-align: center;
    font-size: 12px;
    color: #ccc;
    border-radius: 5px;
}

.form-control .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(60, 60, 60, .8) transparent transparent transparent;
  }

.form-control .tooltip:hover .tooltiptext {
    display: block;
}

.form-control input {
    background: inherit;
    height: 24px;
    width: 100%;
    line-height: 1.6;
    border: none;
    border-bottom: 1px solid #fdab00;
    caret-color: #ccc;
    font-family: PT-Italic;
    color: #ccc;
    transition: border-bottom .8s ease-in;
}

.form-control textarea {
    background: inherit;
    height: auto;
    width: 100%;
    line-height: 1.6;
    border: none;
    border-bottom: 1px solid #fdab00;
    caret-color: #ccc;
    font-family: PT-Italic;
    color: #ccc;
    overflow-y: hidden;
    overflow-x: hidden;
    resize: none;
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
}

.form-control input.valid {
    border-bottom: 1px solid #64dd17;
    box-shadow: 0 1px 0 0 #64dd17;
}

.form-control input.invalid {
    border-bottom: 1px solid #f12617;
    box-shadow: 0 1px 0 0 #f12617;
}

.form-control input:invalid {
    box-shadow: none;
}

.form-control input:focus + label,
.form-control input:valid + label,
.form-control textarea:focus + label,
.form-control .top-positioned {
    top: 0;
    font-size: 12px;
    cursor: default;
}

.purchase label {
    position: relative;
    top: 0;
}

.purchase input {
    width: 10%;
    text-align: center;
    -moz-appearance: textfield;
}

.purchase input::-webkit-outer-spin-button,
.purchase input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.purchase .price {
    color: #64dd17;
}

.agreement {
    display: flex;
}

.agreement label {
    position: relative;
    top: -6px;
    padding-left: 10px;
    font-size: 14px;
}

.agreement input {
    width: 24px;
    opacity: 0;
    cursor: pointer;
}

.agreement input:valid + label {
    top: -6px;
    font-size: 14px;
}

.agreement .checkmark {
    position: absolute;
    top: 28px;
    left: 4px;
    height: 24px;
    width: 24px;
    border: 1px solid #fdab00;
    pointer-events: none;
    line-height: .8;
}

.agreement input:checked ~ .checkmark {
    background: #333;
    border: 1px solid #64dd17;
}

.agreement input:checked ~ .checkmark:before {
    content: "\2713";
    font-size: 28px;
    color: #64dd17;
}

.contact-form button {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(253, 171, 0, .8) 100%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    font-family: Library-3AM;
    font-weight: bold;
    color: #ccc;
    text-transform: uppercase;
    cursor: pointer;
    border-right-color: rgb(118, 118, 118);
    border-bottom-color: rgb(118, 118, 118);
}

.error-message {
    background: rgba(60, 60, 60, 0.8);
    margin: 10px 0;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    text-align: left;
    opacity: 0;
    transition: opacity .8s ease-in-out;
}

.error-message.show {
    opacity: 1;
}

.error-message .fa-exclamation-triangle {
    color: #f12617;
}

.error-message p {
    display: inline-block;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #f12617;
    text-align: left;
}

.error-message .exit-btn {
    display: inline-block;
    padding: 0 5px;
    font-size: 13px;
    color: #f12617;
    cursor: pointer;
}


@media only screen and (max-width: 1260px) {
    .error-message p {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 640px) {
    .contact-form {
        width: 84%;
    }
}

@media only screen and (max-width: 600px) {
    .contact-form form {
        width: 96%;
    }

    .form-control .tooltip:hover .tooltiptext {
        display: none;
    }
}


@media only screen and (max-width: 360px) {
    .contact-form {
        width: 92%;
    }
}

@media only screen and (max-width: 824px) and (max-height: 412px) {
    .contact-form {
        width: 84%;
        margin-top: 20px;
    }
}

/* SCROLLBAR */

.contact-form,
.text-wrapper {
    scrollbar-width: thin;
    scrollbar-color: #555 rgba(0, 0, 0, .2);
}

.contact-form::-webkit-scrollbar,
.text-wrapper::-webkit-scrollbar {
    width: 8px;
}

.contact-form::-webkit-scrollbar-track,
.text-wrapper::-webkit-scrollbar-track {
    background: inherit;
}

.contact-form::-webkit-scrollbar-thumb,
.text-wrapper::-webkit-scrollbar-thumb {
    background: #555;
}

.contact-form::-webkit-scrollbar-thumb:hover,
.text-wrapper::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

@media only screen and (max-width: 640px) {
    .contact-form::-webkit-scrollbar,
    .text-wrapper::-webkit-scrollbar {
        width: 4px;
    }
}
